= form_for(@price) do |f|
  - if @price.errors.any?
    #error_explanation
      %h2
        = pluralize(@price.errors.count, "error")
        prohibited this price from being saved:
      %ul
        - @price.errors.full_messages.each do |message|
          %li= message
  .col-md-6
    .field
      = f.label t("activerecord.models.maker")
      %br/
      = select_tag :maker_id, {}, class: "form-control"
    .field
      = f.label t("activerecord.models.engine")
      %br/
      = select_tag :engine_id, {}, class: "form-control"
    .field
      = f.label t("activerecord.attributes.price.bike_id")
      %br/
      = f.select :bike_id, {}, {}, class: "form-control"
  .col-md-6
    .field
      = f.label t("activerecord.attributes.price.meter_id")
      %br/
      = f.select :meter_id, {}, {}, class: "form-control"
    .field
      = f.label t("activerecord.attributes.price.year")
      %br/
      = f.select :year, {}, {}, class: "form-control"
  .col-md-12
    .actions.center
      = f.submit "査定開始", class: "btn btn-lg btn-danger"
