.container
  .col-md-12= image_tag "top.jpg", alt: "あなたのバイク高く買い取ります。オンライン買取査定。・特徴その1　徹底的なコスト削減！・特徴その２　多くの買取実績・特徴その３　現車を見てからの整備査定。"
  .col-md-6
    = image_tag "1_01.jpg", alt: "オンライン自動査定・登録不要でスマホでもPCでもすぐに自動査定・査定結果よりお問い合わせ！"
    %div#average
      %div#price
  .col-md-6
    = image_tag "1_02.jpg", alt: "登録不要の簡単５ステップ"
    = render "prices/search"
  .col-md-12= image_tag "1_03.jpg", class: "wide-top", alt: "電話でのお問い合わせはこちらまで！098-927-1503"
  .col-md-12= image_tag "1_04.jpg", class: "wide-top", alt: "バイクを１円でも高く売りたい！とお考えのあなたへ。その要望を「ニシムラモータース」がお応え致します！"
  .col-md-12= image_tag "1_05.jpg", alt: "なぜなら...1.徹底的なコスト削減！2.多くの買取実績！3.現車を見てからの調整査定！！！と、三拍子揃っているからです。"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom", alt: "気になった方であれば、まずはお気軽にお電話ください！！098-927-1503"
  .col-md-12= link_to image_tag("1_08.jpg", alt: "ブログで詳細をチェック"), "http://blog.bikekaitoriokinawa.com/",  class: "narrow-top", target: "blank"
  .col-md-12= image_tag "1_10.jpg", alt: "コストを抑えることができるのはワケがあります。", class: "wide-top"
  .col-md-12= image_tag "1_12.jpg", alt: "それは、買取後はプライベート工場で整備し、そのまま販売するからです。"
  .col-md-12= image_tag "1_14.jpg", alt: "他社と違う点がいくつかあり、もっとも大きなポイントは「仲介する業者がいないことです」。管理するためのリスクや流通させるために必要なコストが、それに当たります。もし仮に、プライベート工場を所有していないお店に買取を依頼した場合を考えてみましょう。他社はお客様->仲介業者->バイク店。当社はお客様->当社となります。直接取引でコストカットが実現！"
  .col-md-12= image_tag "1_16.jpg", alt: "プライベート工場を所有していないお店に買取を依頼した場合。1.買取->2.別の場所に保管->3.他社に輸送->4.利益上乗せで売却->5.他社に手整備->6.販売。このように非常に手間がかかる上に、コストも大幅にかかってきます。"
  .col-md-12= image_tag "1_18.jpg", class: "wide-top", alt: "しかし当社は、自社工場にて整備するため管理コストも輸送コストもかからず、その上時間的なロスもありません。"
  .col-md-12= image_tag "1_20.jpg", alt: "当社に買取を依頼した場合。1.買取->2.自社に手整備->3.販売。こうすることで、あなたが大切に乗っていたバイクを長い期間こちらで管理することなく、どなたかがあなたのバイクを購入し、大切に乗ってくれるようになるまでの時間も、圧倒的に短くさせることが可能となります。そして、余計なコストがかからないので、高く買い取ることができます。ぜひお気軽に希望の金額をおっしゃってください！可能な限りご希望にお応えさせていただきます。"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom", alt: "気になった方であれば、まずはお気軽にお電話ください！！098-927-1503"
  .col-md-12= link_to image_tag("1_08.jpg", alt: "ブログで詳細をチェック"), "http://blog.bikekaitoriokinawa.com/",  class: "narrow-top", target: "blank"
  .col-md-12= image_tag "1_22.jpg", alt: "多くの買取実績があり、安心です。"
  .col-md-12= image_tag "1_24.jpg", alt: "平成24年に営業を開始し、それと同時に買取も始めました。販売や整備と同時進行に行いながらですので、買取実績は少ないのではないか、適当な金額をつけられるのではないかと、心配される方がいらっしゃるかもしれません。"
  .col-md-12= image_tag "1_26.jpg", alt: "しかし、そのようなことはしておりませんのでご安心ください！買取実績は多数あります！その件数ははんと1102件！（2016年6月現在）実際に買取に携わったお客様からも嬉しいお言葉をいただいております。1.引越しを機に原付を手放しました。他の店舗で購入した原付でしたが、必要書類さえあればものの10分ほどで買取手続きを終わらせることができました。買取額も満足する価格でした！ありがとうございます。T.K様（新車購入・原付・1年使用）2.税金を節約するために動かない中型バイクを手放しました。「廃棄しかないのかな...」と思っていたところ、ニシムラモータースさんに出会えました。動かないバイクも査定OKだし、自宅まで出張してくれてとても助かりました。K.S様（新車購入・中型・5年使用）3.バイクの査定依頼は初めてだったのですが、女性でも分かりやすく親切丁寧に説明してくれ納得のいく価格で買取していただきました。また買取を依頼する機会があれば是非ニシムラモータースさんにお願いしたいです。A.K様（中古購入・原付・2年使用）"
  .col-md-12= image_tag "2_01.jpg", alt: "他社との比較　ニシムラモータース　買取価格　高、手続きのスピード　速、サポート　最良、地域密着度　高、　オンライン査定　無、他社　買取価格　中、手続きのスピード　遅、サポート　良、地域密着度　低、　オンライン査定　有"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom", alt: "気になった方であれば、まずはお気軽にお電話ください！！098-927-1503"
  .col-md-12= link_to image_tag("1_08.jpg", alt: "ブログで詳細をチェック"), "http://blog.bikekaitoriokinawa.com/",  class: "narrow-top", target: "blank"
  .col-md-12= image_tag "2_03.jpg", alt: "充実のサポートをご用意しております。ニシムラモータースでは、あなたにより満足していただき、負担を最小限に抑えるために充実したサポートをご提供しております。他社ではマネのできないようなサポートです。是非ともご利用下さい。"
  .col-md-12= image_tag "2_05.jpg", alt: "1.面倒な手続きは不要です！必要書類があれば、書類関連の手続きはニシムラモータースがお引き受けします！煩わしいと思われがちですので、その手間が無いだけでも、ぐんとハードルは下がると思います。"
  .col-md-12= image_tag "2_07.jpg", alt: "2.出張・引き上げ査定が無料！忙しくてご来店いただく余裕が無いあなたのために、無料で出張査定に伺います！お気軽にお申し出ください。出張査定OK！"
  .col-md-12= image_tag "2_08.jpg", alt: "3.委託販売もOK！「いきなり売るのはちょっと...」という方にも安心な【委託販売】も行っております。委託販売とは、ニシムラモータースがあなたのバイクを預かり、それを店頭で展示し、お次のオーナー様が見つかった時点で買取させていただく販売方法です。是非ご活用ください！"
  .col-md-12= image_tag "2_09.jpg", alt: "4.帰宅も安心！ご来店で買取した後に気になるのはやはり帰宅時の足です。しかし、ニシムラモータースは帰りの足も確保いたします！こちらもお気軽にお申し出ください。帰りも安心。"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom", alt: "気になった方であれば、まずはお気軽にお電話ください！！098-927-1503"
  .col-md-12= link_to image_tag("1_08.jpg", alt: "ブログで詳細をチェック"), "http://blog.bikekaitoriokinawa.com/",  class: "narrow-top", target: "blank"
  .col-md-12= image_tag "2_11.jpg", alt: "買取までの簡単３ステップ！1.ニシムラモータースに電話　2.査定日を決める　3.査定〜成約"
  .col-md-12= image_tag "2_13.jpg", alt: "バイクの買取はニシムラモータースまでお任せください！"
  .col-md-12= image_tag "2_15.jpg", alt: "まずはお気軽にお電話を！あなたのバイク、責任を持って買い取らせていただきます。"
  .col-md-12= image_tag "2_17.jpg", alt: "Q&A Q1　必要なモノはなんですか？　A1　（１）車検証または届出済証（原付は登録証をお持ちください）（２）自賠責保険証　（３）印鑑　＊未成年の方は保護者の方と御同伴ください。＊書類を噴出された場合は再発行手続きを行います。　Q2　不動車も引き取ってくれますか？　A2　はい。無料で引き上げに伺います！　Q3　不動車どころか、本当にボロボロなんですが。　A3　商品にならない場合は【配車手数料】をいただく場合があります。　Q4　名義が違うバイクはうれますか？　A4　はい。名義人の売却の意思を確認できる書類があれば手続きできます。"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom", alt: "気になった方であれば、まずはお気軽にお電話ください！！098-927-1503"
  .col-md-12= link_to image_tag("1_08.jpg", alt: "ブログで詳細をチェック"), "http://blog.bikekaitoriokinawa.com/",  class: "narrow-top", target: "blank"
