.container
  .col-md-12= image_tag "top.jpg"
  .col-md-6
    = image_tag "1_01.jpg"
    .average= "???"
  .col-md-6
    = image_tag "1_02.jpg"
    = render "prices/form2"
  .col-md-12= image_tag "1_03.jpg", class: "wide-top"
  .col-md-12= image_tag "1_04.jpg", class: "wide-top"
  .col-md-12= image_tag "1_05.jpg"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom"
  .col-md-12= image_tag "1_08.jpg", class: "narrow-top"
  .col-md-12= image_tag "1_10.jpg", class: "wide-top"
  .col-md-12= image_tag "1_12.jpg"
  .col-md-12= image_tag "1_14.jpg"
  .col-md-12= image_tag "1_16.jpg"
  .col-md-12= image_tag "1_18.jpg", class: "wide-top"
  .col-md-12= image_tag "1_20.jpg"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom"
  .col-md-12= image_tag "1_08.jpg", class: "narrow-top"
  .col-md-12= image_tag "1_22.jpg"
  .col-md-12= image_tag "1_24.jpg"
  .col-md-12= image_tag "1_26.jpg"
  .col-md-12= image_tag "2_01.jpg"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom"
  .col-md-12= image_tag "1_08.jpg", class: "narrow-top"
  .col-md-12= image_tag "2_03.jpg"
  .col-md-12= image_tag "2_05.jpg"
  .col-md-12= image_tag "2_07.jpg"
  .col-md-12= image_tag "2_08.jpg"
  .col-md-12= image_tag "2_09.jpg"
  .col-md-12= image_tag "1_07.jpg", class: "narrow-bottom"
  .col-md-12= image_tag "1_08.jpg", class: "narrow-top"
  .col-md-12= image_tag "2_11.jpg"
  .col-md-12= image_tag "2_13.jpg"
  .col-md-12= image_tag "2_15.jpg"
  .col-md-12= image_tag "2_17.jpg"
